{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/qcm_details.css') }}">
{% endblock %}

{% block body %}
    <div class="qcm-details">
        <h1>{{ qcm.name }}</h1>
        <p>Theme: {{ qcm.theme }}</p>
        <ul>
            {% for question in qcm.questions %}
                <li>{{ question.qustionstr }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}