{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ qcm.name }}</h1>
    <p>Theme: {{ qcm.theme }}</p>
    <ul>
        {% for question in qcm.questions %}
            <li>{{ question.getQustionstr() }}</li>
        {% endfor %}
    </ul>
{% endblock %}
