{% extends 'base.html.twig' %}

{% block body %}
    <h1>QCM List</h1>
    <ul>
        {% for qcm in qcms %}
            <li>
                <a href="{{ path('app_qcm_show', {id: qcm.id}) }}">{{ qcm.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}